In [1]:
german_cities_by_state = {
    'Berlin': ['Berlin'],
    'Baden-Württemberg': ['Stuttgart', 'Mannheim', 'Karlsruhe', 'Freiburg im Breisgau', 'Heidelberg', 'Ulm', 'Pforzheim', 'Reutlingen', 'Esslingen', 'Ludwigsburg', 'Ostfildern', 'Kornwestheim', 'Weingarten', 'Eppelheim', 'Asperg'],
    'Bavaria': ['Munich', 'Nuremberg', 'Augsburg', 'Regensburg', 'Ingolstadt', 'Fürth', 'Würzburg', 'Erlangen', 'Rosenheim', 'Germering', 'Ottobrunn', 'Puchheim', 'Gröbenzell', 'Haar', 'Neubiberg'],
    'Hamburg': ['Hamburg'],
    'North Rhine-Westphalia': ['Cologne', 'Düsseldorf', 'Dortmund', 'Essen', 'Duisburg', 'Bochum', 'Wuppertal', 'Bielefeld', 'Bonn', 'Münster', 'Mönchengladbach', 'Gelsenkirchen', 'Aachen', 'Krefeld', 'Oberhausen', 'Hagen', 'Hamm', 'Mülheim', 'Leverkusen', 'Solingen', 'Herne', 'Neuss', 'Paderborn', 'Bottrop', 'Moers', 'Siegen', 'Gladbeck', 'Herten', 'Hilden', 'Siegburg', 'Eilendorf'],
    'Hesse': ['Frankfurt', 'Wiesbaden', 'Darmstadt', 'Kassel', 'Hattersheim', 'Obertshausen', 'Bad Soden am Taunus', 'Eschborn'],
    'Saxony': ['Leipzig', 'Dresden', 'Chemnitz', 'Halle'],
    'Lower Saxony': ['Hannover', 'Braunschweig', 'Oldenburg', 'Osnabrück', 'Wolfsburg', 'Göttingen', 'Salzgitter', 'Hildesheim'],
    'Rhineland-Palatinate': ['Mainz', 'Ludwigshafen', 'Koblenz', 'Trier', 'Kaiserslautern'],
    'Schleswig-Holstein': ['Kiel', 'Lübeck', 'Elmshorn', 'Pinneberg', 'Wentorf bei Hamburg', 'Schenefeld', 'Glinde'],
    'Bremen': ['Bremen'],
    'Saxony-Anhalt': ['Magdeburg', 'Halle', 'Halle-Neustadt'],
    'Thuringia': ['Erfurt', 'Jena'],
    'Mecklenburg-Vorpommern': ['Rostock', 'Schwerin'],
    'Saarland': ['Saarbrücken'],
    'Brandenburg': ['Potsdam'],
    'Rhineland-Palatinate': ['Kaiserslautern', 'Mainz', 'Ludwigshafen', 'Koblenz', 'Trier'],
}

In [6]:
import pandas as pd
data = pd.read_csv("transportation.csv")
data.head()

,Unnamed: 0,states,number_of_passengers_on_urban_public_transit_2022,easy_access_to_public_transportation_2022
0,0,Baden-Württemberg,1011.8,92.3
1,1,Bavaria,1144.6,74.7
2,2,Berlin,1378.2,99.4
3,3,Brandenburg,129.9,77.9
4,4,Bremen,89.3,97.9

In [9]:
mean = data['number_of_passengers_on_urban_public_transit_2022'].mean()
standrad_diviation = data['number_of_passengers_on_urban_public_transit_2022'].std()/16
print("mean is:", mean, ", STD:", standrad_diviation)

mean is: 624.2375 , STD: 39.34717309539477

In [10]:
import random
cities = []
passengers = []
access = []

['Baden-Württemberg',
 'Bavaria',
 'Berlin',
 'Brandenburg',
 'Bremen',
 'Hamburg',
 'Hesse',
 'Lower Saxony',
 'Mecklenburg-Vorpomern',
 'North Rhine-Westphalia',
 'Rhineland-Palatinate',
 'Saarland',
 'Saxony',
 'Saxony-Anhalt',
 'Schleswig-Holstein',
 'Thuringia']