Author: Ashkan Nikfarjam

In this section we analys employment in Germany

Data set comes from: https://www.govdata.de/web/guest/suchen/-/details/sozialversicherungspflichtig-beschaftigte-am-wohnort-wuppertal-nach-altersgruppen

In [10]:
import pandas as pd

empl_age = pd.read_csv("employmentAgeDemographic.csv", sep=';')
empl_age.columns = ['year', 'total', 'under 20', '20-25', '25-30','30-40','40-50','50-55','55-60','60-65','over 65']
empl_age.head()

,year,total,under 20,20-25,25-30,30-40,40-50,50-55,55-60,60-65,over 65
0,2022,130962,2060,10313,14236,29683,26292,16562,18027,11675,2114
1,2021,128763,1994,10269,13912,28895,25915,17447,17536,10966,1829
2,2020,126344,1840,9602,13451,27870,25923,18064,17371,10475,1748
3,2019,126634,1927,9692,13911,27721,26446,18585,16871,9848,1633
4,2018,125910,2000,9730,13903,26859,27535,19022,16295,9106,1460

In [17]:
empl_melt_df = empl_age.copy()
empl_melt_df.drop(columns='total',inplace=True)
empl_melt_df = empl_melt_df.melt(id_vars='year', value_name='count')
empl_melt_df.rename(columns={'variable':'age group'},inplace=True)
empl_melt_df.head()

   year age group  count
0  2022  under 20   2060
1  2021  under 20   1994
2  2020  under 20   1840
3  2019  under 20   1927
4  2018  under 20   2000

In [11]:
empl_melt_df.to_csv('empl_age.csv', index=False)

This data set is from https://datasetsearch.research.google.com/search?src=0&query=employment%20catagories%20in%20Germany%20&docid=L2cvMTF2czQwc2t0Zg%3D%3D&filters=WyJbXCJpc19hY2Nlc3NpYmxlX2Zvcl9mcmVlXCJdIl0%3D&property=aXNfYWNjZXNzaWJsZV9mb3JfZnJlZQ%3D%3D

focusing on forms of employment; Age, gender, qualification, region

In [8]:
import json
import requests
url = "http://publications.europa.eu/resource/authority/file-type/json"
response = requests.get(url)
data = response.json()
print(data)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)