In [19]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

extreme_temperature_by_state = pd.read_csv("./temperature_by_state.csv", sep=",")
extreme_temperature_by_state.sort_values(by='State', inplace=True)
extreme_temperature_by_state

,State,Extreme Maximum Temperature,Extreme Maximum Location,Extreme Maximum Date,Extreme Minimum Temperature,Extreme Minimum Location,Extreme Minimum Date,Extreme By Both Temperature
0,Baden-Württemberg,40.3 °C (104.5 °F),Bad Mergentheim,July 20 2022,−36.1 °C (−33.0 °F),Doline Degerfeld Albstadt,March 1 2005,76.4 / 137.5
1,Bavaria,40.3 °C (104.5 °F),Kitzingen,August 7 2015,−45.9 °C (−50.6 °F),Funtensee,December 24 2001,86.2 / 155.1
2,Berlin,38.9 °C (102.0 °F),Kaniswall District of Treptow-Köpenick,August 7 2015,−31.9 °C (−25.4 °F),Blankenburg District of Pankow,January 19 1893,70.8 / 127.4
3,Brandenburg,39.2 °C (102.6 °F),Lübben-Blumenfelde and Cottbus,August 9 1992 and June 19 2022,−32.1 °C (−25.8 °F),Heinersdorf Großbeeren,January 19 1893,71.3 / 128.4
4,Bremen,37.6 °C (99.7 °F),Bremen Airport,August 9 1992,−23.6 °C (−10.5 °F),Bremen Airport,February 13 1940,61.2 / 110.2
5,Hamburg,40.1 °C (104.2 °F),Neuwiedenthal District of Neugraben-Fischbek,July 20 2022,−29.1 °C (−20.4 °F),Fuhlsbüttel Airport,February 13 1940,69.2 / 124.6
6,Hesse,40.2 °C (104.4 °F),Westend Frankfurt am Main,July 25 2019,−33.8 °C (−28.8 °F),Lahntal Gießen,January 22 1850,74.0 / 133.2
7,Lower Saxony,40.0 °C (104.0 °F),Hohenbostel (Barsinghausen),July 20 2022,−28.5 °C (−19.3 °F),Ricklingen Hanover,January 27 1942,68.5 / 123.3
8,Mecklenburg-Vorpommern,39.4 °C (102.9 °F),Boizenburg/Elbe,July 20 2022,−32.5 °C (−26.5 °F),Ueckermünde,February 11 1929,71.9 / 129.4
9,North Rhine-Westphalia,41.2 °C (106.2 °F),Duisburg (Baerl) & Tönisvorst,July 25 2019,−31.2 °C (−24.2 °F),Eslohe,January 27 1942,72.4 / 130.4
10,Rhineland-Palatinate,40.4 °C (104.7 °F),Andernach & Bad Neuenahr-Ahrweiler,July 25 2019,−27.5 °C (−17.5 °F),Birkenfeld,January 29 1895,67.9 / 122.2
11,Saarland,40.3 °C (104.5 °F),Nennig Perl,August 8 2003,−24.2 °C (−11.6 °F),Osterhof Sankt Wendel,January 13 1968,64.5 / 116.1
12,Saxony,39.8 °C (103.6 °F),Hosterwitz Dresden,August 20 2012,−34.1 °C (−29.4 °F),Bad Elster,February 12 1871,73.9 / 133.0
13,Saxony-Anhalt,40.0 °C (104.0 °F),Pabstorf (Huy),July 20 2022,−30.6 °C (−23.1 °F),Krüssau Möckern,February 12 1929,70.6 / 127.1
14,Schleswig-Holstein,39.1 °C (102.4 °F),Grambek near Mölln,July 20 2022,−30.9 °C (−23.6 °F),Heide (Holstein),February 13 1940,70.0 / 126.0
15,Thuringia,39.1 °C (102.4 °F),Jena Astronomical Observatory,July 20 2022,−33.5 °C (−28.3 °F),Gotha,February 11 1929,72.6 / 130.7

In [24]:
states = [
    "Baden-Württemberg",
    "Bavaria",
    "Berlin",
    "Brandenburg",
    "Bremen",
    "Hamburg",
    "Hesse",
    "Lower Saxony",
    "Mecklenburg-Vorpommern",
    "North Rhine-Westphalia",
    "Rhineland-Palatinate",
    "Saarland",
    "Saxony",
    "Saxony-Anhalt",
    "Schleswig-Holstein",
    "Thuringia"
]
precipitation_days = [
    110, 161, 111, 112, 179, 128, 128, 125, 130, 124, 129, 130, 96, 112, 106, 105
]

precipitation_inches = [
    31.3, 70.9, 25.0, 26.2, 78.9, 34.1, 30.5, 33.4, 36.6, 30.3, 38.1, 36.6, 19.0, 23.0, 22.5, 18.9
]

precipitation_millimeters = [
    796, 1801, 636, 665, 2004, 865, 774, 849, 930, 769, 967, 930, 483, 585, 571, 473
]
sunshine_hour_2023n= [
    
]
avg_temp_2023 = [
    
]

precipitation = pd.DataFrame({'states': states,
                              "number of rainy days": precipitation_days, 
                              "precipitation_millimeters": precipitation_millimeters})
precipitation.sort_values(by='states', inplace=True)
precipitation

                    states  number of rainy days  precipitation_millimeters
0        Baden-Württemberg                   110                        796
1                  Bavaria                   161                       1801
2                   Berlin                   111                        636
3              Brandenburg                   112                        665
4                   Bremen                   179                       2004
5                  Hamburg                   128                        865
6                    Hesse                   128                        774
7             Lower Saxony                   125                        849
8   Mecklenburg-Vorpommern                   130                        930
9   North Rhine-Westphalia                   124                        769
10    Rhineland-Palatinate                   129                        967
11                Saarland                   130                        930
12                  Saxony                    96                        483
13           Saxony-Anhalt                   112                        585
14      Schleswig-Holstein                   106                        571
15               Thuringia                   105                        473

Questions Sean: 
Q1 (environment): In Germany, which state has the most/least rain?
Why do we care? 
Rainfall often indicates the water supply throughout a year, and it can be used as an indicator of droughts 
What insight does it give? 
 Rainfall data often informs things like environmental reservation, water resources, and drought risk management. 
Q2 (environment): In Germany, which state hasn’t had extreme high/low temperatures for the longest time? 
Why do we care? 
Extreme weathers are associated with safety because, in the past, there were records of people dying from heatwaves. Additionally, extremely low temperatures would make traveling harder and potentially cause accidents. 
What insight does it give? 
This can be used as an indicator of how stable the environment of the state is. The longer an extreme temperature hasn’t happened, the more stable the environment is. 
Q3 (environment): In Germany, which state has the most/least sunshine? 
Why do we care? 
This data set can be used to determine a state’s recreational values and solar energy potential 
What insight does it give? 
It can lead to an examination of the relationship between sunshine hours/number of rainy days, and this can be important for tourists and outdoor enthusiasts later in the ML model. 
Q4 (public transportation): In Germany, which state has the highest/lowest easy access to public transportation? 
Why do we care? 
How easy is it to access public transportation is important for immigration and tourism purposes because people who arrive in the States usually do not have a vehicle to travel freely. Or even people who have medical conditions and people who can’t drive.
What insight does it give? 
This can be an indication of how well the state was developed/designed.
Q5 (public transportation): In Germany, which state has the highest/lowest short-distance public transportation?
Why do we care? 
Same as Q4.a
What insight does it give?
Combining with other data, we can tell which state is prosperous/underdeveloped